<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @registration.person %>
</p>

<p>
  <strong>Person:</strong>
  <%= @registration.person %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
