<h1>Listing parent_ofs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parent_ofs.each do |parent_of| %>
      <tr>
        <td><%= parent_of.parent_id %></td>
        <td><%= parent_of.child_id %></td>
        <td><%= link_to 'Show', parent_of %></td>
        <td><%= link_to 'Edit', edit_parent_of_path(parent_of) %></td>
        <td><%= link_to 'Destroy', parent_of, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parent of', new_parent_of_path %>
